# Platform VM Infrastructure Environment Variables
REGISTRY_HOST=localhost:5000
AIRFLOW_TAG=latest
POSTGRES_USER=homelab
POSTGRES_PASSWORD=homelab123
POSTGRES_DB=homelab_db
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
AIRFLOW_FERNET_KEY=46THtBPh6AK24V459wHgq_p7p4W8Vp09K3w3Q_9z4E0=
GRAFANA_ADMIN_PASSWORD=admin
