# Airflow Environment Variables
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://homelab:homelab123@postgres:5432/airflow_db
AIRFLOW__CORE__FERNET_KEY=46THtBPh6AK24V459wHgq_p7p4W8Vp09K3w3Q_9z4E0=
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin
